.Ukraine{
    
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    left: 50px;
    
    
    background: #FFD700;
    
    clip-path: polygon(35% 100%, 20% 90%, 13% 78%, 18% 68%, 1% 67%, 1% 60%, 24% 59%, 29% 53%, 0% 51%, 0% 44%, 35% 43%, 41% 35%, 44% 27%, 44% 18%, 34% 15%, 22% 14%, 15% 19%, 7% 24%, 3% 19%, 6% 12%, 15% 7%, 22% 6%, 40% 6%, 48% 10%, 55% 16%, 57% 27%, 55% 34%, 51% 41%, 48% 46%, 76% 46%, 76% 54%, 46% 55%, 44% 61%, 75% 60%, 75% 66%, 41% 67%, 35% 74%, 37% 82%, 43% 85%, 54% 84%, 63% 82%, 67% 81%, 72% 91%, 65% 94%, 55% 96%, 46% 97%);
}
.Turkey {
   
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    left: 50px;
    
    
    background: #FFD700;
    clip-path: polygon(89% 58%, 86% 69%, 78% 77%, 65% 85%, 49% 86%, 34% 86%, 35% 49%, 63% 36%, 63% 27%, 36% 39%, 36% 30%, 63% 16%, 63% 7%, 35% 21%, 35% 0%, 25% 0%, 25% 23%, 4% 38%, 4% 48%, 26% 34%, 26% 43%, 4% 57%, 4% 64%, 26% 53%, 25% 97%, 36% 98%, 44% 97%, 53% 97%, 62% 97%, 71% 96%, 81% 93%, 92% 84%, 98% 75%, 100% 64%, 100% 59%);
    }
.Euro{
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    left: 50px;
    
    
    background: #FFD700;
    clip-path: polygon(99% 77%, 88% 81%, 78% 85%, 59% 90%, 43% 90%, 28% 84%, 24% 70%, 23% 57%, 66% 56%, 66% 51%, 24% 50%, 26% 44%, 68% 44%, 71% 37%, 29% 34%, 33% 27%, 39% 19%, 46% 16%, 52% 13%, 59% 9%, 74% 9%, 88% 17%, 96% 23%, 100% 17%, 93% 11%, 84% 6%, 74% 4%, 63% 2%, 50% 2%, 44% 4%, 35% 13%, 26% 18%, 20% 24%, 14% 33%, 0% 34%, 1% 43%, 12% 43%, 10% 51%, 0% 51%, 0% 58%, 11% 58%, 11% 69%, 14% 78%, 21% 89%, 28% 96%, 35% 96%, 47% 97%, 62% 98%, 77% 98%, 91% 93%, 100% 87%);
}
.Japan {
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    left: 50px;
    
    
    background: #FFD700;
    clip-path: polygon(58% 100%, 59% 74%, 100% 73%, 100% 60%, 60% 59%, 59% 49%, 100% 49%, 100% 35%, 59% 35%, 91% 0%, 72% 0%, 48% 22%, 21% 0%, 6% 1%, 38% 37%, 5% 37%, 6% 50%, 38% 51%, 39% 60%, 5% 59%, 5% 75%, 40% 76%, 39% 99%);
    }
.China {
width: 200px;
    height: 200px;
    float: left;
    position: relative;
    left: 50px;
    
    
    background: #FFD700;
clip-path: polygon(57% 98%, 57% 61%, 99% 59%, 99% 47%, 57% 47%, 94% 1%, 80% 0%, 49% 34%, 19% 0%, 4% 0%, 37% 47%, 5% 47%, 5% 61%, 38% 60%, 39% 99%);

    }
p{
    margin-bottom: 30px;
}
ul{
   position: absolute;
   left: 0px;
   top: 470px;
}
li{
    display: inline;

    margin-left: 50px;
 
}
